body{
  background-image: url("https://images.pexels.com/photos/1640774/pexels-photo-1640774.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2") ;
  background-position: top;
}
.App {
  background-color: rgba(225, 225, 225, 0.542);
  border-radius: 7px;
  padding: 10px;
}